*.log
*.profile
*.templates
*.external_anchors
*.version
*.stat.inlinks
*.stat.categories
*.related_links
*.redir.xml
*.local.xml
*.anchor_text
*.min_local_id
*.hgw.xml
*.disambig
*.cat_hier
*.interwiki
*.gum.xml
*.tmpl.xml
*.interwiki.xml
*.redir.db
*.title2id.db
*.templates.db
*.namespaces.db
*.count.db
